<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My personal blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
  </head>
  <body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">My Personal Blog</li>
      </ul>
    </div>
  </div>

  {% if user.username %}
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Welcome {{ user.username }}</li>
      </ul>
    </div>

    <div class="top-bar-right">
      <form action={% url "logout" %} method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"><b>Logout</b></button>
      </form>
    </div>
  </div>
  {% endif %}

  {% block content %}
  {% endblock %}

  </body>
</html>
